/*
------------------------------------
---------- Author: Chobaz ----------
------------------------------------
*/

/*----------Responsive----------*/

/* 930px --- 851px */
@media only screen and (max-width: 930px)
{
	#wrapper
	{
		margin: auto 1em;
	}

	/****Présentation****/
	header h1
	{
		font-size: 35px;
	}

	header h2
	{
		font-size: 22px;
	}

	header h3
	{
		font-size: 19px;
	}
	/****end-Présentation****/

	/****Footer****/
	footer a
	{
		margin: 0 4em;
	}
	/****end-Footer****/
}

/* 850px --- 751px */
@media only screen and (max-width: 850px)
{
	/****Présentation****/
	header h1
	{
		font-size: 32px;
	}

	header h2
	{
		font-size: 20px;
	}

	header h3
	{
		font-size: 17px;
	}

	.img_profil
	{
		height: 13em;
		margin: 35px 22px;
	}
	/****end-Présentation****/

	/****Articles****/
	article h1
	{
		font-size: 28px;
	}

	article dt
	{
		font-size: 21px;
	}

	article dl
	{
		font-size: 16px;
	}
	/****end-Articles****/

	/****Footer****/
	footer a
	{
		margin: 0 3em;
	}
	/****end-Footer****/
}

/* 750px --- 521px */
@media only screen and (max-width: 750px)
{
	/****Présentation****/
	.presentation
	{
		margin: 0 auto;
		width: 27.5em;
	}
	
	.img_profil
	{
		float: none;
		display: block;
		margin: 0 auto;
	}
	/****end-Présentation****/
}

/* 520px --- 381px */
@media only screen and (max-width: 520px)
{
	/****Présentation****/
	.presentation
	{
		width: auto;
	}

	header
	{
		padding: 2px 2em 2px 2em;
	}

	header h1,h2
	{
		text-align: center;
	}

	header h1
	{
		font-size: 27px;
	}

	header h3
	{
		font-size: 16px;
	}
	/****end-Présentation****/

	/****Articles****/
	article h1
	{
		font-size: 26px;
	}

	article dt
	{
		font-size: 20px;
	}

	article dl
	{
		font-size: 15px;
	}

	.logo
	{
		height: 40px;
	}
	/****end-Articles****/

	/****Footer****/
	footer a
	{
		margin: 0 2em;
	}
	/****end-Footer****/
}

/* >380px */
@media only screen and (max-width: 380px)
{
	#wrapper
	{
		margin: 2px auto;
	}

	/****Présentation****/
	header
	{
		padding: 2px 1.75em 2px 1.75em;
	}

	.img_profil
	{
		height: 11em;
	}

	header h2
	{
		font-size: 19px;
	}

	header h3
	{
		font-size: 15px;
	}
	/****end-Présentation****/

	/****Articles****/
	article
	{
		margin: auto 1em;
	}

	article h1
	{
		font-size: 23px;
	}

	article dl
	{
		font-size: 14px;
	}

	article dt
	{
		font-size: 19px;
	}
	/****end-Articles****/

	/****Footer****/
	footer
	{
		font-size: 18px;
	}

	footer a
	{
		margin: 0 1.5em;
	}
	/****end-Footer****/
}